@inherits LayoutComponentBase

<div class="sidebar @NavMenuCssClass">
	<NavMenu />
</div>

<div class="main">
	<div class="top-row px-4">
		<button @onclick="ToggleNavMenu">Menu</button>
	</div>

	<div class="content px-4">
		@Body
	</div>
</div>