

<div class="d-inline-block" style="margin-top: 3px">
	<button class="btn btn-danger" @onclick="Remover">X</button>
	<input type="text" class="col-md-2" @bind="Candidato.Nome" placeholder="Nome" />
	<input type="text" class="col-md-3" @bind="Candidato.Descricao" placeholder="Descricao" />
	<input type="text" class="col-md-4" @bind="Candidato.ImageUrl" placeholder="Url da Imagem" />
	<input type="text" class="col-md-1" @bind="Candidato.Votos" placeholder="Quantidade de votos" />
	<br />
</div>

@code {
	[Parameter]
	public Candidato Candidato { get; set; }

	[Parameter]
	public EventCallback<Candidato> OnRemove { get; set; }

	protected async void Remover() => await OnRemove.InvokeAsync(Candidato);
}