<PageTitle>Enquete Cards</PageTitle>

<div class="card-group" style="max-width: 100vw !important; justify-content: center">
	<h1>@Repositorio.Config.Saudacao</h1>
</div>

<div class="card-group" style="max-width: 100vw !important; justify-content: center;">
	@foreach (var candidato in Repositorio.Enquete.Candidatos)
	{
		<CandidatoCard @key="candidato.Id" Candidato=candidato OnChange=NotifyChange />
	}
</div>