<div class="container" style="max-width: 100vw !important;">
	<div class="d-inline-block">
		<button class="btn btn-success float-left" @onclick="Adicionar">+</button>
		<input type="text" class="col-md-2 border-0" readonly="readonly" placeholder="Nome" />
		<input type="text" class="col-md-3 border-0" readonly="readonly" placeholder="Descrição" />
		<input type="text" class="col-md-4 border-0" readonly="readonly" placeholder="Url da Imagem" />
		<input type="text" class="col-md-1 border-0" readonly="readonly" placeholder="Votos" />
		<br />
	</div>

	@foreach (var candidato in Repositorio.Candidatos)
	{
		<CandidatoView @key="candidato.Id" Candidato="candidato" OnRemove="Remover" />
	}
</div>
